@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
a{
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
body{
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--violet);
  max-height: 100vh;
  color: white;
}
.conatiner {
  padding: 5rem 5rem;
}
.header {
  margin-bottom: 5.5rem;
}
.header-image {
  img{
    height: 50px;
  }
}

.sections {
  display: flex;
  justify-content: space-between;
}
.right-image {
  img{
    width: 750px;
  }
}
.right-section {
  width: 40%;
  height: 100%;
  margin-left: 2rem;
}
.text {
  margin-top: 2.8rem ;
  h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 37px;
    width: 80%;
    margin-bottom: 1.5rem;
  }
  p{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    width: 90%;
    margin-bottom: 1.25rem;
  }
}
.button {
  button{
    font-family: "Open Sans", sans-serif;
    color: var(--violet);
    background-color: white;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 15px;
    box-shadow: 0px 2px 7px 0px rgb(52, 0, 75);
    cursor: pointer;
    &:hover{
      background-color: var(--soft-magenta);
      color: white;
    }
  }
}
.support{
  display: flex;
  justify-content: flex-end;
  margin-right: 9rem;
}
.sup-img {
  display: flex;
  gap: 1.5rem;
  a{
    border: 1px solid #fff;
    width: 45px;
    height: 45px;
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover{
      border: 2.3px solid var(--soft-magenta);
    }
  }
  svg{
    color: white;
  }
}
.support svg:hover{
  color: var(--soft-magenta);
}
.facebook {
  svg{
    height: 20px;
    width: 20px;
  }
}
.twitter {
  svg{
    width: 20px;
  }
}
.instagram {
  svg{
    width: 20px;
  }
}
@media (max-width: 1175px){
  .sections{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .text{
    h1{
      width: 100%;
    }
    p{
      width: 100%;
      font-size: 18px;
    }
  }
  .support{
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-top: 4.5rem;
  }
}
@media (max-width: 750px){
  .conatiner{
    padding: 2rem;
  }
  .right-image {
    img{
      max-width: 600px;
    }
  }
  .right-section{
    width: 70%;
    margin-left: 0;
  }
  .button{
    button{
      width: 300px;
      padding: 18px 0;
    }
  }
}
@media (max-width: 590px){
  .conatiner{
    padding: 1rem;
  }
  .right-image {
    img{
      max-width: 300px;
    }
  }
}